version: '3.9'

services:
  api:
    container_name: sistemaalocacao_api
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    ports:
      - "7116:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=tcp:ecommerceddd.database.windows.net,1433;Initial Catalog=sistemaalocacao;Persist Security Info=False;User ID=CloudSAb49d61ae;Password=Mu12345$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

 networks:
      - sistemaalocacao_net

  frontend:
    container_name: sistemaalocacao_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
    networks:
      - sistemaalocacao_net

networks:
  sistemaalocacao_net:
    driver: bridge